    <form action="">
        <div class="container">
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" class="form-control">
                        <label for="sobrenome">sobrenome</label>
                        <input type="text" name="sobrenome" class="form-control">
                        
                        
                </div>
                <div class="col-sm">
                        <label for="sexo">Sexo</label>
                        <select name="sexo" class="form-control">
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>
                </div>
                    
            </div>
               
        </div>
    </form>

