<div app-navbar></div>

<div class="container">
    <div>&nbsp;</div>    

    <div class="container marketing">           
      
      <div class="jumbotron">
      
        <div class="container">
          <h3 class="display-3">A sociedade voltada para tecnologia</h3>
          <span>Faça parte da nossa sociedade tecnológica, onde terá chance de aprender mais sobre as atuais tecnologias, o que o futuro nos reserva. Se inscreva e terá a oportunidade de trabalhar conosco te colocando dentro do mercado de tecnologia a nível global !</span>
        </div>
      </div>        
             
            
            <hr class="featurette-divider">                                
            
            <div class="row featurette">
                <h2 class="col-md-7">Inovação. <span class="text-muted">Vai te deixar sem palavras.</span>
                  <p class="lead">Apenas nós podemos fazer de pequenas mudanças grandes resultados.</p>
                </h2>  
              <div class="col-md-5">
                <img src="assets/image/image1.jpg" alt="Imagem1">
              </div>
                              
            </div>                          
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Novidades. <span class="text-muted">Soluções.</span></h2>
                <p class="lead">Aproveite e venha conferir todas as novidades que apenas a SolutionsIT tem para você.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img src="assets/image/imagem2.jpg" alt="Ideias">
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Casos reais. <span class="text-muted">Sucesso.</span></h2>
                <p class="lead">Essa é a exemplificação de mais um caso de sucesso da SolutionsIT .</p>
              </div>
              <div class="col-md-5">
                <img src="assets/image/imagem3.jpg" style="max-width: 500px; max-height: 500px" alt="Sucesso">
              </div>
            </div>
        
            
        
            <!-- /END THE FEATURETTES -->
        
          <!-- /.container -->

</div>
<hr class="featurette-divider">
<div app-footer></div>