<div app-navbar></div>

<div class="container">
    <div>&nbsp;</div>    

    <div class="container marketing">           
                
            <!-- START THE FEATURETTES -->                    
        
            <div class="row featurette">
                <h2 class="col-md-7">Inovação. <span class="text-muted">Vai te deixar sem palavras.</span>
                  <p class="lead">Apenas nós podemos fazer de pequenas mudanças grandes resultados.</p>
                </h2>  
              <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
              </div>
                              
            </div>                          
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Novidades. <span class="text-muted">Soluções.</span></h2>
                <p class="lead">Aproveite e venha conferir todas as novidades que apenas a SolutionsIT tem para você.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Casos reais. <span class="text-muted">Sucesso.</span></h2>
                <p class="lead">Essa é a exemplificação de mais um caso de sucesso da SolutionsIT .</p>
              </div>
              <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
              </div>
            </div>
        
            
        
            <!-- /END THE FEATURETTES -->
        
          <!-- /.container -->

</div>
<hr class="featurette-divider">
<div app-footer></div>