<nav class="navbar navbar-expand-lg navbar-light bg-myColor">
        <a class="navbar-brand" href="/home">SolutionsIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Acesso</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cadastro">Afiliar-se</a>
            </li>      
          </ul>
          
        </div>
      </nav>
